body {
    background-color: rgb(217, 217, 217);
    font-family: monospace;
    text-align: center;
}

.header {
    font-size: 32px;
    border-style: solid;
    background: #ffba60;
}

.sweet,
.lazy,
.butter {
    font-size: 24px;
    color: black;
}

img {
    border-radius: 10%;
  }

  #contents {
    display:block;
    margin:auto;
    padding: 2rem;
    width: max(70%,500px);
    border: 4px solid rgb(250, 202, 43);
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 0px 20px rgba(116, 116, 116, 0.479);
    text-align: center;
    margin-top: 2rem;
  }
